body {
  position: relative;
}
 .inline.fields > .label_1 {
  font-size: 300px;
}
.ui.segment.middle {
  width:300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.ui.button.right {
  width: 82px;
  margin-left: 70%;
}

.inline.fields > span {
  white-space:nowrap;
  font-size:15px;
  width:80px;
}
